<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always" />
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
        <authentication mode="Forms" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="406" />
      <remove statusCode="412" />
      <remove statusCode="500" />
      <remove statusCode="501" />
      <remove statusCode="502" />
      <error statusCode="401" path="/TRAC/Error.asp" responseMode="ExecuteURL" />
      <error statusCode="403" path="/TRAC/Error.asp" responseMode="ExecuteURL" />
      <error statusCode="404" path="/TRAC/Error.asp" responseMode="ExecuteURL" />
      <error statusCode="406" path="/TRAC/Error.asp" responseMode="ExecuteURL" />
      <error statusCode="412" path="/TRAC/Error.asp" responseMode="ExecuteURL" />
      <error statusCode="500" path="/TRAC/Error.asp" responseMode="ExecuteURL" />
      <error statusCode="501" path="/TRAC/Error.asp" responseMode="ExecuteURL" />
      <error statusCode="502" path="/TRAC/Error.asp" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-UA-Compatible" value="IE=5" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Cache-control" value="private, no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy-Report-Only" value="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self'; frame-src 'self';" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="Remove SERVER Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove X-ASPNET-VERSION Header">
          <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove X-POWERED-BY Header">
          <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Add HttpOnly" preCondition="No HttpOnly">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; HttpOnly; secure" />
          <conditions></conditions>
        </rule>
        <preConditions>
          <preCondition name="No HttpOnly">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: {87666631-D471-407A-8737-C9EA1DB385C5}-->