<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Origins" value="https://MPVCHCAWEBP1.HCANALYTICS.COM" />
    <add key="Headers" value="*" />
    <add key="Methods" value="*" />
    <add key="CommandTimeout" value="60" />
    <add key="PortalAuthCookie" value=".SAPORTALLOGIN" />
    <add key="TimeoutRenewIntervalSeconds" value="30" />
    <add key="CacheExpirationInSeconds" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="Live.Portal" connectionString="Database=Portal;Server=MPVCHCADBP1.HCANALYTICS.COM;Integrated Security=SSPI;encrypt=true" providerName="System.Data.SqlClient" />
    <add name="Live.TRAC" connectionString="Database=TRAC;Server=MPVCHCADBP1.HCANALYTICS.COM;Integrated Security=SSPI;encrypt=true" providerName="System.Data.SqlClient" />
    <add name="Live.ONTRAC" connectionString="Database=ONTRAC;Server=MPVCHCADBP1.HCANALYTICS.COM;Integrated Security=SSPI;encrypt=true" providerName="System.Data.SqlClient" />
    <add name="Test.ONTRAC" connectionString="Database=ONTRAC;Server=.HCANALYTICS.COM;Integrated Security=SSPI;encrypt=true" providerName="System.Data.SqlClient" />
    <add name="Test.Portal" connectionString="Database=Portal;Server=.HCANALYTICS.COM;Integrated Security=SSPI;encrypt=true" providerName="System.Data.SqlClient" />
    <add name="Test.TRAC" connectionString="Database=TRAC;Server=.HCANALYTICS.COM;Integrated Security=SSPI;encrypt=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.6" />
    <httpRuntime enableVersionHeader="false" targetFramework="4.6" />
    <httpModules>
    </httpModules>
    <authentication mode="Forms">
      <forms name=".RCWPORTALLOGIN" loginUrl="https://MPVCHCAWEBP1.HCANALYTICS.COM/WebUI/Security%20Pages/Login.aspx" requireSSL="true" protection="All" path="/" timeout="60" slidingExpiration="false" />
    </authentication>
    <machineKey validationKey="8BD3E445E507877087AACF3A71C96EC5FB812A295916702DC913C0C02DFA358492BC76BCFC793EF5DE9C92F606CF57989610224778174132B10AC5F7B9F61E7E" decryptionKey="A42C24FE19E9D52FFDA39F7AB9B3A231EF1D723C6A6F17D3" validation="SHA1" compatibilityMode="Framework20SP2" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
    <staticContent>
      <remove fileExtension=".gz" />
      <mimeMap fileExtension=".gz" mimeType="application/javascript; charset=UTF-8" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <!--https://www.owasp.org/index.php/HTTP_Strict_Transport_Security_Cheat_Sheet-->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <!--https://www.owasp.org/index.php/Testing_for_Browser_cache_weakness_(OTG-AUTHN-006)-->
        <add name="Cache-control" value="private, no-cache, no-store" />
        <add name="Pragma" value="no-cache" />
        <!--https://www.owasp.org/index.php/Clickjacking_Defense_Cheat_Sheet#X-Frame-Options_Header_Types-->
        <add name="X-Frame-Options" value="DENY" />
        <!--https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#xxxsp_bp-->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!--https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#xcto_bp-->
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="Remove SERVER Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove X-ASPNET-VERSION Header">
          <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove X-POWERED-BY Header">
          <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

</configuration>
