<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" />
    <section name="authenticationProviders" type="Stockamp.Portal.Security.AuthenticationProvidersSection, Stockamp.Portal.Security, Version=11.3.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" />
    <section name="authenticationCredentials" type="Stockamp.Portal.Security.AuthenticationCredentialSection, Stockamp.Portal.Security, Version=11.3.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Stockamp.Portal.Component.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <!-- uncoment the following sections if you are using .NET 2.0 application pool-->
        <!--<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />-->
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <!--<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />-->
          <!--<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />-->
          <!--<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />-->
          <!--<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />-->
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Live.ONTRAC" connectionString="Database=ONTRAC;Server=MPVCHCADBP1;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Live.Portal" connectionString="Database=Portal;Server=MPVCHCADBP1;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Live.TRAC" connectionString="Database=TRAC;Server=MPVCHCADBP1;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Live.PROFEE" connectionString="Database=PROFEE;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Test.ONTRAC" connectionString="Database=ONTRAC;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Test.Portal" connectionString="Database=Portal;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Test.TRAC" connectionString="Database=TRAC;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Test.PROFEE" connectionString="Database=PROFEE;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
  "authenticationCredentials" can be used when a client wants to configure a specific account for LDAP
   communication.  If no authenticationCredentials, the IIS application-pool account will be used for
   LDAP communication.
  To encrypt "authenticationCredentials:
  1. Copy Stockamp.Portal.Security.dll to "C:\Windows\Microsoft.NET\Framework64\v4.0.30319"
  2. run the following command:
     C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_regiis -pe "authenticationCredentials" -app "/WebUI"
  Alternatively, to decrypt run the following command.
  C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_regiis -pd "authenticationCredentials" -app "/WebUI"
  3. Remove the following file when you are finished encrypting/decrypting.
  C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Stockamp.Portal.Security.dll
  -->
  <authenticationCredentials Domain="" Username="" Password="" />
  <authenticationProviders>
    <!--
    Each authenticationProvider element has the following attributes available:

      name
              The name of the provider. The values in siUsers.AuthenticationProvider
              must match the names provided in the configuration file. This
              attribute is required.

      type
              The fully qualified name of the class that handles this type of
              Authentication. The value is in the form "class, assembly". This
              attribute is required.

      useSecureConnection
              Values for this attribute are "True" or "False." This attribute
              currently only applies to the ActiveDirectory provider and is
              ignored for other providers. This attribute is optional and
              defaults to "False."

      server
              Name of the server to use when authenticating credentials. This
              attribute currently only applies to the ActiveDirectory provider.
              This attribute is required for the ActiveDirectory provider and
              is ignored for other providers.
    -->
    <authenticationProvider name="Portal" type="Stockamp.Portal.Security.PortalAuthenticationProvider, Stockamp.Portal.Security, Version=11.3.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" />
    <authenticationProvider name="ActiveDirectory" type="Stockamp.Portal.Security.ActiveDirectoryAuthenticationProvider, Stockamp.Portal.Security, Version=11.3.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" useSecureConnection="false" server="" disableFastConcurrentBind="False" />
  </authenticationProviders>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application.
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running
           on the local Web server. This setting is recommended for security purposes, so
           that you do not display application detail information to remote clients.
           <customErrors defaultRedirect="error.aspx" mode="On" />
    -->
    <!--  AUTHENTICATION
          This section sets the authentication policies of the application. Possible modes are "Windows",
          "Forms", "Passport" and "None"

          "None" No authentication is performed.
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to
           its settings for the application. Anonymous access must be disabled in IIS.
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms name=".SAPORTALLOGIN" loginUrl="Security Pages\Login.aspx" requireSSL="true" protection="All" path="/" timeout="60" />
    </authentication>
    <!--  AUTHORIZATION
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous
          (unauthenticated) users.
    -->
    <machineKey validationKey="8BD3E445E507877087AACF3A71C96EC5FB812A295916702DC913C0C02DFA358492BC76BCFC793EF5DE9C92F606CF57989610224778174132B10AC5F7B9F61E7E" decryptionKey="A42C24FE19E9D52FFDA39F7AB9B3A231EF1D723C6A6F17D3" validation="SHA1" />
    <authorization>
      <deny users="?" />
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application.
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the
          application trace log by browsing the "trace.axd" page from your web application
          root.
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session.
          If cookies are not available, a session can be tracked by adding a session identifier to the URL.
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application.
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <appSettings>
    <add key="ceTe.DeveloperLicenseKey" value="MER70NSDIDJGCPMZOfQED+qnoQxTS3MH5HspXPSO31smmesgIvoC9ZPPcdmxC5igAy5SJBsBCai1cdotYepkfyPOih3x8jCuMcPw" />
    <add key="ReportServerPath" value="https://MPVCHCAWEBP1.HCANALYTICS.COM/ReportServer/ReportService2005.asmx" />
    <add key="ReportsBasePath" value="https://MPVCHCAWEBP1.HCANALYTICS.COM/Reportserver" />
    <add key="ReportExecutionServicePath" value="https://MPVCHCAWEBP1.HCANALYTICS.COM/ReportServer/ReportExecution2005.asmx" />
    <add key="TotalCount" value="10" />
    <add key="WSSServerPath" value="https://MPVCHCAWEBP1.HCANALYTICS.COM" />
    <add key="EnableDashboards" value="true" />
    <add key="EnableBatchImportAlerts" value="false" />
    <add key="OnlineDocsPath" value="C:\Program Files\Huron Consulting Group\RCWorkflow\Documents" />
    <add key="OnlineDocsStagingPath" value="\\MPVCHCAWEBP1\OnlineDocuments" />
    <!--  IMPORTANT
          The list below identifies the available database environments to which the application
          can connect. The first entry in the list must be the default (i.e. the one that you want
          to use if you are not prompted for the environment).

          Additionally, you must ensure that there are connection strings for each environment in
          the list. For TRACWeb, DISWeb, and the Portal the connection information are stored in
          dataConfiguration.config. For PTONTRAC/SCC the connection information is stored in that
          application's web.config.
    -->
    <add key="Environments" value="Live,Test" />
    <!-- SSRS Report Folder Paths
    Available paths to upload/synchronize report to. Separate by comma's.
    The "/Reports" path will be concatenate to front of listed paths.
    A "." indicates the root "/Reports" folder. If no paths specified, "/Reports is assumed".
  rubix folders: ",Baseline,Cloneable,Custom"
    -->
    <add key="SSRSReportFolders" value="." />
    <add key="RCWAuthCookie" value=".RCWPORTALLOGIN" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-UA-Compatible" value="IE=9" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Cache-control" value="private, no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy-Report-Only" value="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self'; frame-src 'self';" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="406" />
      <remove statusCode="412" />
      <remove statusCode="500" />
      <remove statusCode="501" />
      <remove statusCode="502" />
      <error statusCode="401" path="/WebUI/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" path="/WebUI/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" path="/WebUI/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="406" path="/WebUI/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="412" path="/WebUI/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="/WebUI/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="501" path="/WebUI/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="502" path="/WebUI/Error.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <outboundRules>
        <rule name="Remove SERVER Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove X-ASPNET-VERSION Header">
          <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove X-POWERED-BY Header">
          <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
    </rewrite>
    <serverRuntime uploadReadAheadSize="147456" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
