<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" traceOutputOptions="None" type="SA.TRAC4.Common.Logging.TraceListeners.HydraTraceListener, SA.TRAC4.Common.Logging.TraceListeners, Version=11.3.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" name="Hydra TraceListener" initializeData="" formatter="Text Formatter" />
      <add source="Enterprise Library Logging" formatter="" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="PROFEE">
        <listeners>
          <add name="Hydra TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="ONTRAC">
        <listeners>
          <add name="Hydra TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="TRAC">
        <listeners>
          <add name="Hydra TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ONTRAC Log">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="ONTRAC" eventId="100" severity="Error" title="ONTRAC Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="TRAC Log">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="TRAC" eventId="100" severity="Error" title="TRAC Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="PROFEE Log">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="PROFEE" eventId="100" severity="Error" title="PROFEE Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e4775e39e5aafb5a" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="Live.ONTRAC" connectionString="Database=ONTRAC;Server=MPVCHCADBP1;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Live.Portal" connectionString="Database=Portal;Server=MPVCHCADBP1;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Live.TRAC" connectionString="Database=TRAC;Server=MPVCHCADBP1;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Live.PROFEE" connectionString="Database=PROFEE;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Test.ONTRAC" connectionString="Database=ONTRAC;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Test.Portal" connectionString="Database=Portal;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Test.TRAC" connectionString="Database=TRAC;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
    <add name="Test.PROFEE" connectionString="Database=PROFEE;Server=;Integrated Security=SSPI;encrypt=true;trustServerCertificate=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web><httpRuntime targetFramework="4.6.1" /></system.Web>
  -->
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application.
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.1" />
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running
           on the local Web server. This setting is recommended for security purposes, so
           that you do not display application detail information to remote clients.
          <customErrors defaultRedirect="error.aspx" mode="On" />
    -->
    <!--  AUTHENTICATION
          This section sets the authentication policies of the application. Possible modes are "Windows",
          "Forms", "Passport" and "None"

          "None" No authentication is performed.
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to
           its settings for the application. Anonymous access must be disabled in IIS.
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms name=".SAPORTALLOGIN" loginUrl="Expired.aspx?STO=1" requireSSL="true" protection="All" path="/" timeout="60" />
    </authentication>
    <!--  AUTHORIZATION
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous
          (unauthenticated) users.
    -->
    <machineKey validationKey="8BD3E445E507877087AACF3A71C96EC5FB812A295916702DC913C0C02DFA358492BC76BCFC793EF5DE9C92F606CF57989610224778174132B10AC5F7B9F61E7E" decryptionKey="A42C24FE19E9D52FFDA39F7AB9B3A231EF1D723C6A6F17D3" validation="SHA1" />
    <authorization>
      <deny users="?" />
    </authorization>
    <!--<machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1" />-->
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application.
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the
          application trace log by browsing the "trace.axd" page from your web application
          root.
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session.
          If cookies are not available, a session can be tracked by adding a session identifier to the URL.
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application.
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages controlRenderingCompatibilityVersion="3.5" enableViewStateMac="true" viewStateEncryptionMode="Always" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <add key="ExcludedForms_TRAC" value="'QUIC Account Browser','QUIC Requests','STAT Account Browser','STAT Edit','STAT Keying','STAT Underpayment Types','Shared Account Browser','Shared Trending Snapshot Override','SUMM Other Statistics','Billing Account Browser','Billing Requests','Follow-up Account Browser','Follow-up Edit','Follow-up Keying','Follow-up Underpayment Types'" />
    <add key="ExcludedForms_ONTRAC" value="'ONTRAC Summary Snapshot','ONTRAC Summary Entries','Financial Clearance Summary Snapshot','Financial Clearance Summary Entries'" />
    <add key="CommandTimeout" value="65" />
    <add key="WebAppServer" value="MPVCHCADBP1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="406" />
      <remove statusCode="412" />
      <remove statusCode="500" />
      <remove statusCode="501" />
      <remove statusCode="502" />
      <error statusCode="401" path="/TRACWeb/GenericError.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" path="/TRACWeb/GenericError.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" path="/TRACWeb/GenericError.aspx" responseMode="ExecuteURL" />
      <error statusCode="406" path="/TRACWeb/GenericError.aspx" responseMode="ExecuteURL" />
      <error statusCode="412" path="/TRACWeb/GenericError.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="/TRACWeb/GenericError.aspx" responseMode="ExecuteURL" />
      <error statusCode="501" path="/TRACWeb/GenericError.aspx" responseMode="ExecuteURL" />
      <error statusCode="502" path="/TRACWeb/GenericError.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-UA-Compatible" value="IE=5" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Cache-control" value="private, no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy-Report-Only" value="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self'; frame-src 'self';" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="Remove SERVER Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove X-ASPNET-VERSION Header">
          <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove X-POWERED-BY Header">
          <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
    </rewrite>
    <serverRuntime uploadReadAheadSize="147456" />
  </system.webServer>
</configuration>
